# Ignore transpiled .JS files under TypeScript projects (explicit add required)
/ltiToolApp/**/*.js
!/packages/ltiToolApp/jest.config.js
/packages/**/*.js
/packages/**/*.js.map
/packages/**/*.d.ts
/packages/**/bin
!/jest.config.js
!/**/jest.config.js
/test/**/*.js
/test/**/*.js.map
/test/**/*.d.ts
# VSCode extension

# Store launch config in repo but not settings
.vscode/settings.json
/.favorites.json
.vscode

# TypeScript incremental build states
*.tsbuildinfo

# Local state files & OS specifics
.DS_Store
Thumbs.db
*~

# CDK Context & Staging files
ltiToolApp.context.json
.ltiToolApp.staging/
ltiToolApp.out/
*.tabl.json

# Yarn
yarn.lock
.yarn/cache
.yarn/unplugged
.yarn/build-state.yml
.yarn/install-state.gz
.pnp.*

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*
.pnpm-debug.log*

# VSCode history plugin
.vscode/.history/

# Cloud9
.c9
.nzm-*

# Coverage reports
coverage

# API keys and secrets
# dotenv environment variable files
.env
.env.development.local
.env.test.local
.env.production.local
.env.local

# Dependency directory
node_modules
bower_components

# Editors
.idea
*.iml

# Ignore built ts files
dist/**/*
build/**/*
packages/cdk/cdk.out/

# Ignore stack outputs and tests env setup files
test/env.local.ts
packages/cdk/output.json
